*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: Poppins, sans-serif;
}

:root{
    --bg-color: rgb(2, 8, 50);
    --snd-bg-color: rgba(0, 0, 0, 0.176);
    --main-color: rgb(17, 42, 205);
    --snd-bf-color: rgba(74, 74, 74, 0.1);
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--bg-color);
    color: white;
}

header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: rgb(17, 42, 205);
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: white;
    font-weight: 500;
    margin-left: 4rem;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color: rgb(17, 42, 205);
    border-bottom: 3px solid rgb(17, 42, 205);
}

@media(max-width: 995px){
    nav{
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid rgb(17, 42, 205);
        border-bottom: 3px solid rgb(17, 42, 205);
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: var(--bg-color);
        border-top: 0.1rem solid var(--bg-color);
    }
    nav.active{
        display: block;
    }
    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: .5rem solid rgb(17, 42, 205);
    }
}

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: var(--bg-color);
}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: rgb(17, 42, 205);
}

.home-content p{
    font-size: 1.6rem;
}

.home-img{
    border-radius: 50%;
    align-items: center;
}

.home-img img{
    position: relative;
    align-items: center;
    object-fit: co;
    width: 32vm;
    height: 40rem;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--bg-color);
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover{
    transform: scale(1.1);
}
.home-content p{
    font-size: 1.8rem;
    font-weight: 500;
}

.social-icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: .2rem solid rgb(17, 42, 205);
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: white;
}

.social-icon a:hover{
    color: var(--bg-color);
    transform: scale(1.3) translateY(-5px);
    color: white;
    box-shadow: 0 0 25px rgb(17, 42, 205);
    background-color: rgb(17, 42, 205);
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: var(--bg-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: rgb(17, 42, 205);
    letter-spacing: .3rem;
    font-weight: 600;
    border: 2px solid rgb(17, 42, 205);
    transition: 0.3s ease;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(17, 42, 205);
    color: white;
    transform: scale3d(1.03);
    background-color: rgb(17, 42, 205);
    box-shadow: 0 0 25px rgb(17, 42, 205);
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position:relative;
}
.typing-text span::before{
    content: "Software Engineer";
    color: rgb(17, 42, 205);
    animation: words 17s infinite;
}

.typing-text span::after{
    content: '';
    background-color: var(--bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor{
    to{
        border-left: 3px solid rgb(17, 42, 205);
    }
}

@keyframes words{
    0%, 20%{ 
        content: "Software Engineer"; 
    }
    21%, 40%{ 
        content: "Web Developer"; 
    }
    41%, 60%{ 
        content: "U-of-M Student"; 
    }
    61%, 80%{ 
        content: "CyberSecurity Focus"; 
    }
    81%, 100%{ 
        content: "CS Major"; 
    }
}
@media(max-width: 1000px){
    .home{
        gap: 4rem;
    }
}

@media( max-width: 995px){
    .home{
        flex-direction: column;
        margin:5rem 4rem;
    }
    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 100%;
        margin-top: 4rem;
    }
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem; 
    background: var(--snd-bg-color);
}

.about-img img{
    width: 35vw;
    height: auto;
    outline: rgb(17, 42, 205) solid 0.2rem;
}

.heading{
    text-align: center;
    font-size: 4.5rem;
    margin-top: 1rem;
}

.about-content h2{
    text-align: left;
    line-height: 1.2;
}

.about-content h3{
    font-size: 2.6rem;
}

.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.skills h2{
    margin-bottom: 5rem;
}

.skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.skills-container .skills-box {
    flex: 1 1 calc(45% - 2rem); 
    max-width: 45%;
    height: 300px; 
    box-sizing: border-box;

    background: var(--snd-bf-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-container .skills-box:hover{
    border-color: white;
    transform: scale(1.02);
}

.skills-box{
    font-size: 7rem;
    color: white;
}

.skills-box h3{
    font-size: 2.6rem;
}

.skills-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.skills-box i{
    font-size: 7rem;
    color: white;
}

.experience{
    background: var(--snd-bg-color);
}

.experience-content{
    margin-top: 20%;
}

.experience-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 2rem;
    width: 100%;
}


.experience-box {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 100%;
    max-width: 1000px;
    background: var(--snd-bf-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
    color: white;
    text-align: left;
    line-height: 1.5;
}

.experience-box:hover {
    border-color: white;
    transform: scale(1.02);
}

.experience-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    flex-shrink: 0; 
}

.cfia-img{
    width: 300px;
    height: 300px;
    object-fit: cover; 
    flex-shrink: 0; 
    border-radius: 50%;
}

.experience-box h3 {
    font-size: 2.6rem;
    margin-bottom: 1rem;
}

.experience-content p {
    font-size: 1.6rem;
    align-items: left;
}

